<a class="btn btn-primary" href="/#/movie/create"><span class="glyphicon glyphicon-plus"></span> Create movie</a>
<br>
<table class="table table-stripped table-responsive table-hover">
	<thead>
		<th>Title</th>
		<th>Url</th>
		<th>Operations</th>
	</thead>
	<tbody>
		<tr ng-repeat="movie in movies">
			<td><a href="/#/movie/{{ movie._id }}">{{ movie.title }}</a></td>
			<td>{{ movie.url }}</td>
			<td>
				<div class="button-group">
					<a class="btn btn-default" ng-href="/#/movie/{{ movie._id }}/edit">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					<a class="btn btn-danger" ng-href="/#/movie/{{ movie._id }}/delete">
						<span class="glyphicon glyphicon-remove-circle"></span>
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>